apiVersion: 1.0.0
metadata:
  generateName: "{{user}}-workspace"
projects:
  - source:
      type: git
      location: https://github.com/tsailiming/datascience-examples.git
    name: datascience-examples
components:
  - id: ms-python/python/latest
    memoryLimit: 1Gi
    type: chePlugin
  
  - alias: python-tools
    mountSources: true
    type: openshift
    reference: python.yaml
    referenceContent: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: python-tools
        labels:
          app: python-tools        
      spec:
        replicas: 1
        selector:
          matchLabels:
            app: python-tools
        template:
          metadata:
            name: python-tools
          spec:
            containers:
            - image: registry.redhat.io/codeready-workspaces/stacks-python-rhel8@sha256:2058a74f04a03b125e40006496c1a363ea34dd354cfceaa0f5a3faae934e4ecb
              name: seldon
              ports:
              - containerPort: 5000
                name: http-server
              volumeMounts:
              - mountPath: /projects
                name: projects
              env:
                - name: MLFLOW_EXPERIMENT_NAME
                  value: Dev
              envFrom:
              - secretRef:
                  name: {{user}}-mlflow-obc
              - configMapRef:
                  name: {{user}}-mlflow-obc
              - configMapRef:
                  name: {{user}}-mlflow-cm
            volumes:
            - name: projects
              persistentVolumeClaim:
                claimName: projects
commands:
  - name: Login to OpenShift
    actions:
    - type: exec
      component: python-tools
      command: oc login https://$KUBERNETES_SERVICE_HOST:$KUBERNETES_SERVICE_PORT --insecure-skip-tls-verify=true
      workdir: "${CHE_PROJECTS_ROOT}"

  - name: 2 - Convert notebooks to py
    actions:
      - workdir: '${CHE_PROJECTS_ROOT}/datascience-examples/workshop'
        type: exec
        command: bin/nb2py.sh
        component: python-tools


    