kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: workflow-edit
  namespace: {{demo_ns}}
rules:
  - verbs:
      - get
      - watch
      - list
      - patch
      - create
    apiGroups:
      - argoproj.io
    resources:
      - workflows
